/*Menu*/
.menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.menu1{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color:rgb(21, 161, 68)
    
    
}
.menu2{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color:rgb(21, 161, 68)
}
.menu3{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color:rgb(21, 161, 68)
}
.menu4{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color:rgb(21, 161, 68)
}
.icono-menu{
    display: none;
}
.coffeeshop{
    justify-content: center;
    margin: auto;
    width: 100%;
    border-radius: 25px;
}
/*Menu*/
@media (max-width: 768px){
    .menu{
        flex-direction: column;
    }
    .menu1{flex-direction: column;
        width: 100%;
        text-align: left;
        left: 0;
        margin: 0;
        list-style-type: none;
    }
    .menu2{flex-direction: column;
        width: 100%;
        text-align: left;
        left: 0;
        margin: 0;
        list-style-type: none;
    }
    .menu3{flex-direction: column;
        width: 100%;
        text-align: left;
        left: 0;
        margin: 0;
        list-style-type: none;
    }
    .menu4{flex-direction: column;
        width: 100%;
        text-align: left;
        left: 0;
        margin: 0;
        list-style-type: none;
    }
    .header{
        position: relative;
    }
    .navlink{
        position: absolute;
        background-color: rgb(209, 209, 209);
        width: 300px;
        height: 100vh;
        top: 0;
        right: -100vw;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        z-index: 2;
        transition: 0.4s;
    }
    .icono-menu{
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        color: black;
        font-size: 30px;
        z-index: 1;
    }
    .icono-menu:hover+.navlink{
        right: 0;
    }
    
    .navlink:hover{
        right: 0;
    }
    .coffeeshop{
        width: 100vw;
        left: 0;
    }
    
}