.titulo{
    color: rgb(21, 161, 68);
    text-align: center;
    font-size: 40px;
    padding: 5px;
}
.titulo-inicio{
    font-size: 60px;
    padding: 5px;
}
.navegador{
    background-color: rgb(34, 139, 34);
    width: 100%;
    height: 150px;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
}
.navlink{
    display: flex;
    padding: 20px 5px;
    text-align: right;
}
.navlinka{
    display: block;
   
    padding: 20px 5px;
    text-align: right;
}
.navegador img{
    width: 50px;
    height: 50px;
}
.Justicia{
    text-align: center;
}
.foot{
    list-style: none;
    bottom: 0;
    text-align: end;
}
.santuario{
    width: 100%;
    height: 30%;
}
.somos{
    width: 200px;
    border: 2px;
    border-color: darkgreen;
    border-style: groove;
    padding: 10px;
    background-color:rgb(21, 161, 68)
}
.aboutus{
    width: 100%;
    border: 1px;
    border-color: forestgreen;
    text-decoration: underline;
    text-align: center;
    border-style: groove;
    background-color:rgb(21, 161, 68) ;
}
.donaciones{
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.donar{
    background-color: rgb(51, 66, 61);
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.portada{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.paquetes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.paquete{
    width: 300px;
    background-color: rgb(80, 230, 87);
    margin: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.paquete-boton{
    position: absolute;
    bottom: -20px;
    right: 10px;
}
.form-reserva{
    margin-bottom: 100px;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}
.menu1{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(21, 161, 68)
    
}
.menu2{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(21, 161, 68)
}
.menu3{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(21, 161, 68)
}
.menu4{
    width: 50%;
    border: 1px;
    border-color: forestgreen;
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(21, 161, 68)
}
.porques{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
}
.porque{
    width: 50%;
    height: 300px;
    background-color: forestgreen;
    font-size: larger;
    margin: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.galeria{
    width: 80%;
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,150px);
    grid-template-areas: "img1 img1 img2 img2 img3"
                         "img1 img1 img2 img2 img3"
                         "img4 img4 img5 img5 img5"
                         "img4 img4 img5 img5 img5"
                         "img6 img6 img6 img7 img7"
                         "img6 img6 img6 img7 img7"  ;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img3;
}
.img3{
    grid-area: img2;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 10px;
    
}
.animales{
    display: flex;
    align-items: center;
    justify-content: center;
}
.health{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ambiente{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ternero{
    width: 50%;
    padding: 20px;
    margin: 10px;
    height: fit-content; 
    justify-content: right;
}
.medioamb{
    width: 50%;
    padding: 20px;
    margin: 10px;
    height: fit-content; 
    justify-content: right;
}
.salud{
    width: 50%;
    padding: 20px;
    margin: 10px;
    height: fit-content; 
    justify-content: right;
}
.why{
    text-align: center;
    font-size: xx-large;

}